*.mp4
venv
roboflowmodels
uploads
black_ball_dataset
black_ball_frames
black_ball_videos
30fps1920
.vscode
.ruff_cache
.__pycache__
datasets
*.zip
github_token.txt
output
importantoutput
output(25k)
output_for_website
all_main_1_output
30fps1920
output
positions(10k)
trained-models
runs
*.avi
squash/__pycache__
.idea
__pycache__
