__pycache__
.pytest_cache
.vscode
models
trained-models
run
main.mp4
best.pt
ns.pt
venv
co-tracker
saved_videos
cropped.mp4
GroundingDINO
black_ball_videos
black_ball_frames5
testing_folder
black_ball_frames